@model StudentViewModel
@{
    ViewData["Title"] = "Tag Helper Using Razor Component Tag helper";
}

<p bold> In this example we are passing only one student info at the time.</p>

<student-information students="Model"></student-information>

<p>This will be a basic usage example for the lib <strong><a href="https://razor-components.techgems.net/docs/">Razor Component Tag Helper</a></strong></p>